cache/
config/
libraries/
logs/
plugins/.paper-remapped
plugins/ProtocolLib
plugins/pStats
plugins/bStats
plugins/spark
versions/

plugins/ItemsAdder/contents/
plugins/ItemsAdder/lang
plugins/ItemsAdder/storage
plugins/ItemsAdder/ia_gui.yml
plugins/ItemsAdder/secret.yml

world/
world_nether/
world_the_end/

.console_history
banned-ips.json
banned-players.json
commands.yml
help.yml
ops.json
permissions.yml
spigot.yml
usercache.json
version_history.json
whitelist.json

*.jar